.items{
    margin-left: 3em !important;
}

.img{
    position: relative;
    z-index: -1;
}
.buttons{
    max-width: 200px;
    display: flex;
    justify-content: space-between;
}
.description p{
    text-align: start;
}